# Crie seu app em https://developer.spotify.com/dashboard
# Em "Redirect URIs" cadastre exatamente: http://127.0.0.1:8888/callback
CLIENT_ID=cole_aqui_o_client_id
CLIENT_SECRET=cole_aqui_o_client_secret
REDIRECT_URI=http://127.0.0.1:8888/callback
